<form action="" id="routeGet" method="GET">
    <p>
        <select name="routeId" form="routeGet">
            {{routeList}}
        </select>
        <input type="submit" form="routeGet" value="Select">
    </p>
</form>
<form action="store" id="routePost" method="POST">
    <div>
        Id: <input type="text" name="routeId" form="routePost" value="{{routeId}}">
    </div>
    <div>
        Id: <input type="text" name="templateId" form="routePost" value="{{templateId}}">
    </div>
    <div>
        Subroutes
        <textarea rows="10" cols="50" style="margin:20 0 20 0" name="subroutes"
                  form="routePost">{{subroutes}}</textarea>
    </div>
    <div>
        Contexts
        <textarea rows="10" cols="50" style="margin:20 0 20 0" name="contexts"
                  form="routePost">{{contexts}}</textarea>
    </div>
    <input type="submit" value="Save" form="routePost">
</form>

