<form action="" id="templateGet" method="GET">
    <p>
        <select name="templateId" form="templateGet">
            {{templateList}}
        </select>
        <input type="submit" form="templateGet" value="Select">
    </p>
</form>
<form action="store" id="templatePost" method="POST">
    <div>
        Id: <input type="text" name="templateId" form="templatePost" value="{{templateId}}">
    </div>
    <div>
        <textarea rows="10" cols="50" style="margin:20 0 20 0" name="templateBody"
                  form="templatePost">{{templateBody}}</textarea>
    </div>
    <input type="submit" value="Save" form="templatePost">
</form>

